<section class="w-full flex justify-center min-h-[100%]">
  <main class="max-w-[1440px] w-full flex flex-col gap-8">
    <header
      aria-label="Budgets Header. Theres a button at the right side to create new Budgets."
      class="potsHeader flex items-center justify-between"
    >
      <p class="text1b">Transactions</p>
      <button
        (click)="openSubModal('addTransaction', {})"
        class="border-solid bg-grey-900 text4b text-white p-4 rounded-lg transition-all duration-300 hover:bg-grey-500"
      >
        + Add New Transaction
      </button>
    </header>

    <!-- Transactions content section -->
    <div
      aria-label="transactions content section"
      class="w-full min-h-[500px] bg-white rounded-xl"
    >
      <!-- Transactions Filter -->
      <div
        aria-label="transactions filter section"
        class="flex justify-between items-center"
      >
        <div>
          <app-search-transaction></app-search-transaction>
        </div>
        <div class="flex items-center gap-6">
          <app-sortby-transactions></app-sortby-transactions>
          <app-categoryfilter-transactions></app-categoryfilter-transactions>
        </div>
      </div>

      <!-- Transactions List -->
      <div aria-label="transactions list section">
        <div
          aria-label="Spending Summary Header"
          class="flex items-center justify-between"
        >
          <p class="text2b text-grey-900">Spending Summary</p>
        </div>

        @for (item of this.readyToRenderTransactionsArray(); let index = $index;
        track item) { @if (index === this.currentPage) {

        <ul
          id=""
          aria-label="list of latest spendings"
          class="h-[246px] overflow-y-auto"
        >
          <li
            aria-label="spending item"
            class="pt-3 pb-3 pr-3"
            [ngStyle]="{
              'padding-bottom': index < item.length - 1 ? '12px' : '0px'
            }"
          >
            <app-single-transaction></app-single-transaction>
          </li>
          @if ( index < item.length - 1) {
          <div class="w-full h-[1.5px] rounded-full bg-[#e3e0dc]"></div>
          }
        </ul>
        } }
      </div>

      <!-- Transactions Navigation -->
      <div aria-label="transactions window navigation">
        @if (this.readyToRenderTransactionsArray().length > 1) {
        <app-pagination-navcontrol></app-pagination-navcontrol>
        }
      </div>
    </div>
  </main>
</section>
