<section class="w-full flex justify-center min-h-[100%]">
  <main class="max-w-[1440px] w-full flex flex-col gap-8">
    <header
      aria-label="Budgets Header. Theres a button at the right side to create new Budgets."
      class="potsHeader flex items-center justify-between"
    >
      <p class="text1b">Transactions</p>
      <button
        (click)="openSubModal('addTransaction', {})"
        class="border-solid bg-grey-900 text4b text-white p-4 rounded-lg transition-all duration-300 hover:bg-grey-500"
      >
        + Add New Transaction
      </button>
    </header>

    <!-- Transactions content section -->
    <div
      aria-label="transactions content section"
      class="w-full min-h-[500px] bg-white rounded-xl p-8 flex flex-col gap-6"
    >
      <!-- Transactions Filter -->
      <div
        aria-label="transactions filter section"
        class="flex justify-between items-center"
      >
        <div>
          <app-search-transaction></app-search-transaction>
        </div>
        <div class="flex items-center gap-6">
          <app-sortby-transactions></app-sortby-transactions>
          <app-categoryfilter-transactions></app-categoryfilter-transactions>
        </div>
      </div>

      <!-- Transactions List -->
      <div aria-label="transactions list section">
        <div
          aria-label="transactions list header"
          class="flex items-center justify-between pb-6 pl-4 pr-4 text5r text-grey-500"
        >
          <div class="flex items-center">
            <span>Recipient / Sender</span>
          </div>
          <div class="flex items-center justify-between w-[50%]">
            <div class="flex items-center gap-8">
              <span class="w-[120px]">Category</span>
              <span class="w-[120px]">Transaction Date</span>
            </div>
            <span>Amount</span>
          </div>
        </div>

        @for (item of this.readyToRenderTransactionsArray(); let index = $index;
        track item) { @if (index === this.currentPage) {

        <ul id="" aria-label="list of latest spendings" class="">
          @for (transaction of item; let index = $index; track transaction) {
          <li
            aria-label="spending item"
            class="pt-4 pl-4 pr-4"
            [ngStyle]="{
              'padding-bottom': index < item.length - 1 ? '16px' : '0px'
            }"
          >
            <app-single-transaction [transaction]="transaction" ></app-single-transaction>
          </li>
          @if ( index < item.length - 1) {
          <div class="w-full h-[1.5px] rounded-full bg-grey-100"></div>
          } }
        </ul>
        } }
      </div>

      <!-- Transactions Navigation -->
      <div aria-label="transactions window navigation">
        @if (this.readyToRenderTransactionsArray().length > 1) {
        <app-pagination-navcontrol></app-pagination-navcontrol>
        }
      </div>
    </div>
  </main>
</section>
