@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  transition: all 0.4s ease-in-out;
  width: 240px;
}

.navbarLinkInActive {
  height: 56px;
  width: 100%;
  display: flex;
  border-left: 4px solid;
  cursor: pointer;

  .linkBox {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-wrap: nowrap;
    border-radius: 0 12px 12px 0;

    .navImgBox {
      ::ng-deep {
        svg {
          width: 24px;
          height: 24px;

          path {
            transition: fill 0.15s ease-in-out;
            fill: var(--color-grey-100);
          }
        }
      }
    }

    p {
      transition: fill 0.9s ease-in-out;
      color: var(--color-grey-100);
      font-size: 16px;
      line-height: 150%;
      font-weight: bold;
    }
  }

  &:hover .linkBox {
    .navImgBox {
      ::ng-deep {
        svg {
          path {
            fill: white;
          }
        }
      }
    }

    p {
      color: white;
    }
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  padding-left: 36px;
  gap: 16px;
  height: 56px;

  .iconBox {
    ::ng-deep {
      svg {
        width: 24px;
        height: 24px;

        path {
          transition: fill 0.15s ease-in-out;
          fill: var(--color-grey-100);
        }
      }
    }
  }

  p {
    transition: all 0.15s ease-in-out;
    color: var(--color-grey-100);
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
  }
}

.opacity_zero {
  opacity: 0;
}

.d_none {
  display: none;
}
