<section class= "w-full min-h-[100%]">

  @if (isLoadingScreenVisible)
  {
    <app-loading-screen></app-loading-screen>
  }
 @if (isWarningScreenVisible)
  {
    <app-warning-screen></app-warning-screen>
  }

  @if (!isLoadingScreenVisible && !isWarningScreenVisible)
  {
    <div class="budgets-container">
      <p>budgets works!</p>
      <button (click)="openSubModal('addBudget', {})" class="border-solid border-black border-2 mb-4">Add New Budget</button>
      <button (click)="openSubModal('editBudget', {})" class="border-solid border-black border-2 mb-4">Edit Budget</button>
      <button (click)="openSubModal('deleteBudget', {})" class="border-solid border-black border-2 mb-4">Delete Budget</button>
    </div>
  }
  
</section>
