<section
  aria-label="Budgets Main Section"
  class="w-full min-h-[100%] flex flex-col gap-8"
>
  <header
    aria-label="Budgets Header. Theres a button at the right side to create new Budgets."
    class="potsHeader flex items-center justify-between"
  >
    <p class="text1b">Monthly Budgets</p>
    <button
      (click)="openSubModal('addBudget', {})"
      class="border-solid bg-grey-900 text4b text-white p-4 rounded-lg transition-all duration-300 hover:bg-grey-500"
    >
      + Add New Budget
    </button>
  </header>

  <main
    class="flex flex-col items-center gap-6"
    aria-label="Main section of Budgets with an overview on top and single budget cards below."
  >
    <div
      aria-label="Budgets overview"
      class="w-full p-6 rounded-xl min-h-[250px] min-w-[500px] max-w-[700px] bg-white"
    >
      <app-budget-overview [inWhichSection]="'budgets'"></app-budget-overview>
    </div>

    <ul
      aria-label="Single Budgets area"
      class="w-full flex flex-col items-center gap-6"
    >
      @for (item of this.filteredBudgets(); let index = $index; track item) { @if
      (!item.deleted_at) {
      <app-single-budget
        [budgetInput]="item"
        [budgetIndex]="index"
        class="min-w-[500px] w-full max-w-[700px] flex-1"
      ></app-single-budget>
      }}
    </ul>
  </main>
</section>
