<div
  aria-label="Single Budget Card"
  class="p-6 rounded-xl min-h-[250px] flex flex-col gap-5 bg-white"
>
  <div
    aria-label="single Budget Card Head"
    class="relative flex items-center justify-between"
  >
    <div class="flex items-center gap-4">
      <div
        class="themeDot w-4 h-4 rounded-full"
        [ngStyle]="{ 'background-color': this.budget.theme }"
      ></div>
      <p class="text2b text-grey-900">{{ this.budget.name }}</p>
    </div>
    <button (click)="openPopUp()">
      <app-icons [iconName]="'dotsThree'"></app-icons>
    </button>

    @if (isPopUpOpen) {
    <div
      id="budgetPopUp"
      class="absolute right-0 top-6 z-10 flex flex-col gap-2 bg-white shadow-[0px_4px_24px_0px_rgba(0,0,0,0.25)] rounded-lg pr-5 pl-5 pb-3 pt-3"
    >
      <button
        (click)="openSubModal('editBudget', this.budget)"
        id="editBudgetButton"
        class="text4r text-grey-900 text-left"
      >
        Edit Budget
      </button>
      <hr class="bg-grey-100 h-[1px] w-full" />
      <button
        (click)="openSubModal('deleteBudget', this.budget)"
        id="deleteBudgetButton"
        class="text4r text-secondary-red text-nowrap"
      >
        Delete Budget
      </button>
    </div>
    }
    
  </div>

  <div
    aria-label="single Budget Card Amount Overview"
    class="w-full flex flex-col gap-4"
  >
    <p class="text4r text-grey-500">
      Maximum of <span>{{ this.budget.maximum | formatAmount: null }}</span>
    </p>
    <div aria-label="progress bar">
      <div
        class="w-full h-8 bg-beige-100 rounded-[4px] p-1 flex items-center justify-start"
      >
        <div
          class="h-full rounded-[4px]"
          [ngStyle]="{
            'background-color': this.budget.theme,
            width: this.percentageProgress
          }"
        ></div>
      </div>
    </div>
    <div aria-label="counting" class="flex flex-row gap-4">
      <div aria-label="Spent" class="flex items-center gap-4 flex-1">
        <div
          class="bar w-1 h-[43px] rounded-lg"
          [ngStyle]="{
            'background-color': this.isTooMuchSpent
              ? '#f8f4f0'
              : this.budget.theme
          }"
        ></div>
        <div class="flex flex-col gap-1">
          <p class="text5r text-grey-500">Spent</p>
          <p class="text4b text-grey-900">{{ this.budget.amount | formatAmount:null }}</p>
        </div>
      </div>
      <div aria-label="Remaining" class="flex items-center gap-4 flex-1">
        <div
          class="bar w-1 h-[43px] rounded-lg"
          [ngStyle]="{
            'background-color': this.isTooMuchSpent ? '#c94736' : '#f8f4f0'
          }"
        ></div>
        <div class="flex flex-col gap-1">
          <p
            class="text5r"
            [ngStyle]="{ color: this.isTooMuchSpent ? '#c94736' : '#696868' }"
          >
            Remaining
          </p>
          <p
            class="text4b"
            [ngStyle]="{ color: this.isTooMuchSpent ? '#c94736' : '#201f24' }"
          >
            {{ this.remaining | formatAmount:null }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    aria-label="single Budget Card latest spendings"
    class="w-full bg-beige-100 rounded-xl p-5 flex flex-col"
    [ngStyle]="{ gap: this.budget.last_spendings ? '8px' : '0px' }"
  >
    <div
      aria-label="Latest Spending head"
      class="flex items-center justify-between"
    >
      <p class="text3b text-grey-900">Latest Spending</p>
      <a
        [routerLink]="'/transactions'"
        id="seeAllButton"
        class="flex items-center gap-3"
        ><span class="text4r text-grey-500">See all</span
        ><app-icons [iconName]="'smallArrowRight'"></app-icons
      ></a>
    </div>
    @if (this.budget.last_spendings && this.budget.last_spendings[0].transaction_id != -1)
    {

    <ul aria-label="list of latest spendings">
      @for (item of this.budget.last_spendings; let index = $index; track item)
      {
      <li
        aria-label="spending item"
        class="pt-3 pb-3"
        [ngStyle]="{
          'padding-bottom':
            this.budget.last_spendings &&
            index < this.budget.last_spendings.length - 1
              ? '12px'
              : '0px'
        }"
      >
        <app-last-spending [spending]="item"></app-last-spending>
      </li>
      @if (this.budget.last_spendings && index <
      this.budget.last_spendings.length - 1) {
      <div class="w-full h-[1.5px] rounded-full bg-[#e3e0dc]"></div>
      } }
    </ul>
    }
  </div>
</div>
