<section
  class="h-full relative flex flex-col justify-between bg-grey-900 transition-all duration-600 ease-in-out origin-left rounded-tr-2xl rounded-br-2xl navbar-wide"
>
  <!-- upper main navigation -->
  <div>
    <div class="pl-[32px] pt-10 pb-10">
      <img class="" src="/img/navbar/finance-logo.svg" alt="" />
    </div>
    <nav class="flex flex-col gap-1 pt-6">
      @for (item of navData.main; track $index) {
      <a
        class="navbarLinkInActive"
        [routerLink]="[item.path]"
        routerLinkActive="navbarLinkActive"
      >
        <div class="linkBox">
          <div class="navImgBox">
            <app-icons [iconName]="item.path"></app-icons>
          </div>
          <p
            class="text-grey-300 transition-all select-none"
            data-group="navLinkName"
          >
            {{ item.name }}
          </p>
        </div>
      </a>
      }
    </nav>
  </div>
  <!-- minimize button -->
  <div
    (click)="toggleMovingNavbar()"
    class="slideButtonBox absolute -right-[12px] top-[50%] -translate-y-2/4 z-10 h-[56px] w-[18px] bg-grey-900 rounded-tr-xl rounded-br-xl transition-all cursor-pointer"
  >
    <app-icons class="slideButton" [iconName]="'slideButton'"></app-icons>
  </div>

  <!-- lower sub navigation -->
  <div class="pb-[40px]">
    @for (item of navData.sub; track $index) {
    <a
      class="navbarLinkInActive"
      [routerLink]="[item.path]"
      routerLinkActive="navbarLinkActive"
    >
      <div class="linkBox">
        <div class="navImgBox">
          <app-icons class="appIcon" [iconName]="item.path"></app-icons>
        </div>
        <p class="text-grey-300 select-none" data-group="navLinkName">
          {{ item.name }}
        </p>
      </div>
    </a>
    }
    <button class="logoutButton">
      <div class="iconBox">
        <app-icons [iconName]="'logout'"></app-icons>
      </div>
      <p class="select-none" data-group="navLinkName">Logout</p>
    </button>
  </div>
</section>
