<section class="transaction-summary bg-white flex flex-col gap-5 p-8 rounded-xl">

  <p class="transactions-summary-header flex items-center justify-between">
      <span class="text2b">Last Transactions</span>
      <span
        [routerLink]="['/transactions']"
        class="details-Btn text4r text-grey-500 flex items-center gap-4 transition-all duration-300 ease-in-out hover:text-grey-900 hover:cursor-pointer"
        aria-label="Button to be redirected to the transactions page"
      >
        View All
        <app-icons [iconName]="'smallArrowRight'"></app-icons>
    </span>
  </p>

  <ul class="transactions-list" aria-label="List of Transactions">
    <li class="single-transaction">
      
      <div class="icon-and-name flex items-center gap-4">
        <div class="icon w-10 h-10 rounded-full border-black border-2 flex items-center justify-center">
          <app-icons [iconName]="'pots'"></app-icons>
        </div>
        <p class="name text3b">Emma Richardson</p>
      </div>

      <div class="amount-and-date"></div>
    </li>
  </ul>


</section>
