<section
  class="pots-summary bg-white flex flex-col gap-8 px-5 py-6 sm:px-8 sm:py-8 rounded-xl"
  aria-label="Pots Summary"
>
  <div class="pots-summary-header flex items-center justify-between">
    <p class="text2b">Pots</p>
    <a
      [routerLink]="['/home/pots']"
      class="details-Btn text4r text-grey-500 flex items-center gap-4 transition-all duration-300 ease-in-out hover:text-grey-900 hover:cursor-pointer"
      aria-label="Button to be redirected to the pots page"
    >
      See Details
      <app-icons [iconName]="'smallArrowRight'"></app-icons>
  </a>
</div>

  <div class="pots-summary-content flex flex-col sm:flex-row gap-4 items-center " aria-label="Pots Summary Content">

    <div
      class="total-saved-container bg-beige-100 w-full sm:max-w-[247px] sm:min-w-[247px] min-h-[110px] flex gap-4 items-center p-4 rounded-xl"
    >
      <app-icons [iconName]="'potsTransparentGreen'"></app-icons>
      <div class="total-saved flex flex-col gap-3">
        <p class="text4r text-grey-500">Total Saved</p>
        <p class="text1b">${{ this.totalSavings }}</p>
      </div>
    </div>

    <div id="pots-listing" class="pots-listing h-[110px] flex flex-wrap gap-4 overflow-auto" aria-label="The first four Pots of the list">
        @for (pot of potsArraySignal(); track $index) {
          <div class="list-element min-w-[130px] flex items-center gap-4">
            <div class="theme-element w-1 h-[43px] rounded-full"
            [ngStyle]="{
              'background-color': pot.theme
            }"
            ></div>
            <p class="list-element-content flex flex-col gap-1">
                <span class="text5r text-grey-500">{{ pot.name }}</span>
                <span class="text3b">${{ pot.total }}</span>
            </p>
          </div>
        }
    </div>
  </div>
</section>
