<section class="flex flex-col gap-8">
  <div>
    <p class="text1b text-grey-900">Login</p>
  </div>
  <!-- Form -->
  <form [formGroup]="loginBody" (ngSubmit)="doLogin()" action="" class="flex flex-col gap-2">
    <div class="input-wrapper">
      <input
        formControlName="email"
        type="email"
        id="loginEmailInput"
        name="email"
        placeholder=" "
        required
        [ngClass]="{'validationError': loginBody.controls['email'].invalid && loginBody.controls['email'].touched}"
      />
      <label for="email">Email</label>
      <p class="validationWarning select-none">
        <span>&nbsp;</span>
        @if (loginBody.controls['email'].hasError('required') && loginBody.controls['email'].touched) {
          <span>Insert an Email</span>
        }
        @if (loginBody.controls['email'].hasError('email') && loginBody.controls['email'].touched) {
          <span>Invalid Email</span>
        }
      </p>
    </div>
    <div class="input-wrapper">
      <input
        formControlName="password"
        type="password"
        id="loginPasswordInput"
        name="password"
        placeholder=" "
        required
        [ngClass]="{'validationError': loginBody.controls['password'].invalid && loginBody.controls['password'].touched}"
      />
      <label for="password">Password</label>
      <p class="validationWarning select-none">
        <span>&nbsp;</span>
        @if (loginBody.controls['password'].hasError('required') && loginBody.controls['password'].touched) {
          <span>Insert a Password</span>
        }
        @if (loginBody.controls['password'].hasError('weakPassword') && loginBody.controls['password'].touched) {
          <span>Must be 8+ chars, inc. A-Z, a-z, 0-9. No spaces.</span>
        }
      </p>
      <div class="eyeBox" (click)="changePasswordVisibility()">
        <app-icons
          [iconName]="isPasswordVisible ? 'openedEye' : 'closedEye'"
        ></app-icons>
      </div>
    </div>
    <button type="submit"
      class="w-full bg-grey-900 text-white text4b pt-[9px] pb-[9px] rounded-lg select-none"
    >
      Login
    </button>
    <div (click)="doGuestLogin()"
      class="w-full bg-grey-900 text-white text4b pt-[9px] pb-[9px] mt-6 rounded-lg select-none text-center cursor-pointer"
    >
      Guest Login without registration
    </div>
  </form>

  <div class="flex justify-center items-center gap-2">
    <p class="text4r text-grey-500 select-none">Need to create an account?</p>
    <button
      (click)="emitChangeWindow('signUpForm')"
      class="text4b text-grey-900 underline select-none"
    >
      Sign Up
    </button>
  </div>
</section>
