@let isHandset = (screensizeService.isHandset$ | async);

<button
  (click)="openSubModal('addTransaction', {})"
  class="border-solid bg-grey-900 text4b text-white p-4 rounded-lg transition-all duration-300 hover:bg-grey-500"
  [ngClass]="{
    'p-1 rounded-full shadow-customXs': isHandset,
    'p-4 rounded-lg': !isHandset
  }"
>
  @if (!isHandset) {
  <span>+ Transaction</span>
  } @else {
  <div class="flex items-center gap-2">
    <app-icons [iconName]="'transaction'"></app-icons>
  </div>
  }
</button>
