<section
  (click)="hideMainModal($event)"
  id="main-modal"
  class="mainModal absolute top-0 left-0 z-[100] w-full h-full bg-[rgba(0,0,0,0.5)] flex justify-center items-center pl-4 pr-4"
>
  <div class="subModalContainer">
    @if (currentShownSubModal === "addTransaction") {
    <app-add-transaction-modal></app-add-transaction-modal>
    } @if (currentShownSubModal === "addBudget") {
    <app-add-budget-modal></app-add-budget-modal>
    } @if (currentShownSubModal === "deleteBudget") {
    <app-delete-budget-modal
      [modalObject]="subModalObject"
      [budgetIndex]="index"
    ></app-delete-budget-modal>
    } @if (currentShownSubModal === "editBudget") {
    <app-edit-budget-modal
      [modalObject]="subModalObject"
      [budgetIndex]="index"
    ></app-edit-budget-modal>
    } @if (currentShownSubModal === "addPot") {
    <app-add-pot-modal></app-add-pot-modal>
    } @if (currentShownSubModal === "editPot") {
    <app-edit-pot-modal
      [modalObject]="subModalObject"
      [potIndex]="index"
    ></app-edit-pot-modal>
    } @if (currentShownSubModal === "deletePot") {
    <app-delete-pot-modal
      [modalObject]="subModalObject"
      [potIndex]="index"
    ></app-delete-pot-modal>
    } @if (currentShownSubModal === "addMoneyPot") {
    <app-addmoney-pot-modal
      [modalObject]="subModalObject"
      [potIndex]="index"
    ></app-addmoney-pot-modal>
    } @if (currentShownSubModal === "withdrawMoneyPot") {
    <app-withdrawmoney-pot-modal
      [modalObject]="subModalObject"
      [potIndex]="index"
    ></app-withdrawmoney-pot-modal>
    } @if (currentShownSubModal === "deleteRecurring") {
      <app-recurring-delete-modal
      [modalObject]="subModalObject"
      [recurringIndex]="index"
      ></app-recurring-delete-modal>
    }
  </div>
</section>
