<div class="relative">

  @if (!(isHandset | async)) {
  <div
    (click)="toggleDropdown()"
    class="min-w-[118px] flex justify-between gap-4 border-[1px] border-beige-500 hover:border-grey-900 focus:border-grey-900 transition-all duration-300 ease-in-out rounded-lg pl-4 pr-4 pt-3 pb-3 cursor-pointer"
  >
    <div class="leftBox flex items-center gap-3">
      <p class="text4r text-grey-900">{{ chosenSortBy }}</p>
    </div>
    <div class="rightBox flex items-center">
      @if (!isDropDownOpen) {
      <app-icons [iconName]="'dropOpen'"></app-icons>
      }@else {
      <app-icons [iconName]="'dropClose'"></app-icons>
      }
    </div>
  </div>
}

  @if ((isHandset | async)) {
    <button class="w-5 h-5 flex items-center justify-center" (click)="toggleDropdown()">
      <app-icons [iconName]="'sortByFilter'"></app-icons>
    </button>
  }

  @if (this.isDropDownOpen) {
  <div
    class="themeDropDown w-[118px] absolute z-10 left-0 top-14 bg-white shadow-[0px_4px_24px_0px_#00000040] rounded-lg pt-3 pb-3 pl-5 pr-5 overflow-auto"
    [ngStyle]="{'left': (isHandset | async) ? '-103px' : '0px'}"
  >
    @for (item of this.sortByOptions; let index = $index; track item) {
    <div
      (click)="chooseSortBy(item)"
      class="w-full flex items-center justify-between pt-3 transition-all duration-300 ease-in-out rounded-lg"
    >
      <!-- Category Box Left Part -->
      <div class="w-full flex gap-3 items-center mb-3">
        <p
          class="text4r text-grey-900 cursor-pointer"
          [ngStyle]="{ 'font-weight': item === chosenSortBy ? 'bold' : 'normal' }" 
        >
          {{ item }}
        </p>
      </div>
    </div>
    @if (index < this.sortByOptions.length - 1) {
    <hr class="bg-grey-100 border-grey-100 w-full h-[1px]" />
    } }
  </div>
  }
</div>
