<section class="budget-summary bg-white min-w-[100%] flex flex-col p-8 rounded-xl">
    <p class="pots-summary-header flex items-center justify-between">
        <span class="text2b">Monthly Budgets</span>
        <span
          [routerLink]="['/home/budgets']"
          class="details-Btn text4r text-grey-500 flex items-center gap-4 transition-all duration-300 ease-in-out hover:text-grey-900 hover:cursor-pointer"
          aria-label="Button to be redirected to the budgets page"
        >
          See Details
          <app-icons [iconName]="'smallArrowRight'"></app-icons>
      </span>
    </p>
    <div class="w-full min-h-[100%] mt-6">
      <app-budget-overview [inWhichSection]="'overview'"></app-budget-overview>
    </div>
</section>
