<main class="flex h-[100dvh] box-border bg-beige-100">
  <div class="pt-5 pl-5 pb-5 h-full box-border">
    <img class="h-full" src="/img/login/login-image.png" alt="">
  </div>
  <div class="p-5 flex-1 flex justify-center items-center">
    <div class="bg-white flex flex-col p-[32px] rounded-[12px] w-full">
      <app-login-form></app-login-form>
      <app-sign-up-form></app-sign-up-form>
      <app-loading-screen></app-loading-screen>
      <app-warning-screen></app-warning-screen>
    </div>
  </div>
</main>
