<section class="w-full min-h-[100%] flex flex-col gap-8">
  <!-- <button (click)="openSubModal('editPot', {})" class="border-solid border-black border-2 mb-4">Edit Pot</button>

      <button (click)="openSubModal('deletePot', {})" class="border-solid border-black border-2 mb-4">Delete Pot</button>

      <button (click)="openSubModal('addMoneyPot', {})" class="border-solid border-black border-2 mb-4">Add Money</button>

      <button (click)="openSubModal('withdrawMoneyPot', {})" class="border-solid border-black border-2 mb-4">Withdraw Money</button> -->

  <div class="potsHeader flex items-center justify-between">
    <p class="text1b">Pots</p>
    <button
      (click)="openSubModal('addPot', {})"
      class="border-solid bg-grey-900 text4b text-white p-4 rounded-lg transition-all duration-300 hover:bg-grey-500"
    >
      + Add New Pot
    </button>
  </div>

  <div class="potsContent flex justify-center flex-wrap gap-6">
    @for (item of this.potsArray(); track item.id) {
    <div class="singlePot min-h-[300px] min-w-[500px] max-w-[700px] flex-1 bg-red-600 border-solid border-2 border-black"></div>
    } 
    <div class="min-h-[300px] min-w-[500px] max-w-[700px] flex-1">ghost div</div>
  </div>
</section>
