<section class="w-full min-h-[100%] flex flex-col gap-8">
  <div class="potsHeader flex items-center justify-between">
    <p class="text1b">Pots</p>
    <button
      (click)="openSubModal('addPot', {})"
      class="border-solid bg-grey-900 text4b text-white p-4 rounded-lg transition-all duration-300 hover:bg-grey-500"
    >
      + Add New Pot
    </button>
  </div>

  <div class="potsContent flex flex-wrap gap-6">
    @for (item of this.potsArray(); let index = $index; track item.id) { @if
    (!item.deletedAt) {
    <app-single-pot
      [pot]="item"
      [potIndex]="index"
      class="min-w-[500px] max-w-[700px] flex-1"
    ></app-single-pot>
    } }
    <div class="min-w-[500px] max-w-[700px] flex-1"></div>
  </div>
</section>
