<section class="flex flex-col gap-8">
  <div>
    <p class="text1b text-grey-900">Sign Up</p>
  </div>
  <!-- Form -->
  <form
    [formGroup]="signUpBody"
    (ngSubmit)="doRegistration()"
    class="flex flex-col gap-2"
  >

    <!-- name input field -->
    <div class="input-wrapper">
      <input
        formControlName="name"
        type="text"
        id="singupNameInput"
        name="name"
        placeholder=""
        required
        [ngClass]="{'validationError': (signUpBody.controls['name'].invalid && signUpBody.controls['name'].touched)}"
      />
      <label for="name">Name</label>
      <p class="validationWarning select-none">
        <span>&nbsp;</span>
        @if (signUpBody.controls['name'].hasError('required') && signUpBody.controls['name'].touched) {
          <span>Insert a Name</span>
        }
        @if (signUpBody.controls['name'].hasError('invalidName') && signUpBody.controls['name'].touched) {
          <span>Enter a name like: Jane Doe</span>
        }
      </p>
    </div>

    <!-- email input field -->
    <div class="input-wrapper">
      <input
        formControlName="email"
        type="email"
        id="signupEmailInput"
        name="email"
        placeholder=""
        required
        [ngClass]="{'validationError': (signUpBody.controls['email'].invalid && signUpBody.controls['email'].touched)}"
      />
      <label for="email">Email</label>
      <p class="validationWarning select-none">
        <span>&nbsp;</span>
        @if (signUpBody.controls['email'].hasError('required') && signUpBody.controls['email'].touched) {
          <span>Insert an Email</span>
        }
        @if (signUpBody.controls['email'].hasError('email') && signUpBody.controls['email'].touched) {
          <span>Invalid Email</span>
        }
      </p>
    </div>

    <!-- password input field -->
    <div class="input-wrapper">
      <input
        formControlName="password"
        type="password"
        id="singupCreatePasswordInput"
        name="password"
        placeholder=""
        required
        [ngClass]="{'validationError': (signUpBody.controls['password'].invalid && signUpBody.controls['password'].touched)}"
      />
      <label for="password">Create Password</label>
      <p class="validationWarning select-none">
        <span>&nbsp;</span>
        @if (signUpBody.controls['password'].hasError('required') && signUpBody.controls['password'].touched) {
          <span>Insert a Password</span>
        }
        @if (signUpBody.controls['password'].hasError('weakPassword') && signUpBody.controls['password'].touched) {
          <span>Must be 8+ chars, inc. A-Z, a-z, 0-9. No spaces.</span>
        }
      </p>
      <div class="eyeBox" (click)="changePasswordVisibility('create')">
        <app-icons
          [iconName]="isCreatePasswordVisible ? 'openedEye' : 'closedEye'"
        ></app-icons>
      </div>
    </div>

    <!-- confirm password field -->
    <div class="input-wrapper">
      <input
        formControlName="confirmPassword"
        type="password"
        id="singupConfirmPasswordInput"
        name="confirmPassword"
        placeholder=""
        required
        [ngClass]="{'validationError': (signUpBody.controls['confirmPassword'].invalid && signUpBody.controls['confirmPassword'].touched)}"
      />
      <label for="confirmPassword">Confirm Password</label>
      <p class="validationWarning select-none">
        <span>&nbsp;</span>
        @if (signUpBody.controls['confirmPassword'].hasError('required') && signUpBody.controls['confirmPassword'].touched) {
          <span>Insert a Password</span>
        }
        @if (signUpBody.controls['confirmPassword'].hasError('passwordDismatch') && signUpBody.controls['confirmPassword'].touched) {
          <span>Passwords do not match. Please try again.</span>
        }
      </p>
      <div class="eyeBox" (click)="changePasswordVisibility('confirm')">
        <app-icons
          [iconName]="isConfirmPasswordVisible ? 'openedEye' : 'closedEye'"
        ></app-icons>
      </div>
    </div>

    <!-- checkbox privacy policy  -->
    <div class="flex gap-2 items-center mt-[-4px]">
      <div class="relative w-4 h-4 border border-grey-900 rounded-[4px] cursor-pointer">
        @if (isPrivacyPolicyAccepted) {
          <app-icons class="absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]" [iconName]="'checked'"></app-icons>
        }
      </div>
      <p class="text4r text-grey-500 select-none">I accept the <a href="">Privacy policy</a></p>
     </div>

    <!-- create account field -->
    <button
      class="w-full bg-grey-900 text-white text4b mt-[18px] pt-[9px] pb-[9px] rounded-lg select-none"
    >
      Create Account
    </button>
  </form>

  <div class="flex justify-center items-center gap-2">
    <p class="text4r text-grey-500 select-none">Already have an account?</p>
    <button
      (click)="emitChangeWindow('loginForm')"
      class="text4b text-grey-900 underline select-none"
    >
      Login
    </button>
  </div>
</section>
