<section class="flex flex-col gap-8">
  <div>
    <p class="text1b text-grey-900">Sign Up</p>
  </div>
  <!-- Form -->
  <form action="" class="flex flex-col gap-4">
    <div class="input-wrapper">
      <input type="text" id="name" placeholder=" " required />
      <label for="name">Name</label>
      <p class="validationWarning"></p>
    </div>
    <div class="input-wrapper">
      <input type="text" id="name" placeholder=" " required />
      <label for="name">Name</label>
      <p class="validationWarning"></p>
    </div>
  </form>

  <div class="flex justify-center items-center gap-2">
    <p class="text4r text-grey-500">Already have an account?</p>
    <button
      (click)="emitChangeWindow('loginForm')"
      class="text4b text-grey-900 underline"
    >
      Login
    </button>
  </div>
</section>
