<!-- <button (click)="openSubModal('editPot', {})" class="border-solid border-black border-2 mb-4">Edit Pot</button>

      <button (click)="openSubModal('deletePot', {})" class="border-solid border-black border-2 mb-4">Delete Pot</button>

      <button (click)="openSubModal('addMoneyPot', {})" class="border-solid border-black border-2 mb-4">Add Money</button>

      <button (click)="openSubModal('withdrawMoneyPot', {})" class="border-solid border-black border-2 mb-4">Withdraw Money</button> -->

<div class="singlePot min-h-[250px] bg-red-600 border-solid border-2 border-black">
  <p>{{pot.name}}</p>
</div>
