:host {
  overflow-x: hidden;
}

header {
  padding: 24px 32px;
}

.opened {
  position: absolute;
  z-index: 1000;
  right: 0;
  width: 240px;
  transform: translateX(0);
}

.closed {
  position: absolute;
  z-index: 1000;
  right: 0;
  width: 240px;
  transform: translateX(100%);
}

.transition {
  transition: transform 0.4s ease-in-out;
}