<div
  class="singleBill w-full flex items-center justify-between pl-4 pr-4 pt-5 pb-5"
>
  <div class="w-[30%] flex items-center gap-4 relative">
    <!-- Category Icon -->
    <div
      aria-labelledby="logo"
      class="w-10 h-10 rounded-full flex items-center justify-center transition-all duration-300 ease-in-out"
      [ngStyle]="{ 'background-color': iconBackground }"
    >
      <app-icons [iconName]="iconName"></app-icons>
    </div>

    <!-- Delete Icon -->
    <div
      (click)="openDeleteModal()"
      class="deleteButton w-10 h-10 rounded-full bg-secondary-red cursor-pointer transition-all duration-300 ease-in-out absolute"
    >
      <app-icons
        class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]"
        [iconName]="'trashCan'"
      ></app-icons>
    </div>

    <p class="text4b text-grey-900 select-none">{{ this.name }}</p>
  </div>

  <div class="flex items-center justify-between w-[50%]">
    <div class="flex items-center gap-8">
      <p class="w-[120px] text5r text-grey-500 select-none">
        {{ this.frequency }}
      </p>

      <p class="w-[120px] text5r text-grey-500 select-none">
        {{ this.dueDate | formatDate }}
      </p>
    </div>

    <div class="w-[30%] flex items-center justify-end gap-4">
      <p
        class="text4b select-none"
        [ngStyle]="{ color: this.type === 'debit' ? '#201f24' : '#277c78' }"
      >
      {{ this.amount | formatAmount: this.type}}
      </p>
    </div>
  </div>
</div>
