<div class="w-full flex items-center justify-between pl-4 pr-4">
  <div class="w-[30%] flex items-center gap-4">
    <div
      aria-labelledby="logo"
      class="w-10 h-10 rounded-full flex items-center justify-center"
      [ngStyle]="{ 'background-color': iconBackground }"
    >
      <app-icons [iconName]="iconName"></app-icons>
    </div>
    <p class="text4b text-grey-900">{{ this.name }}</p>
  </div>

  <div class="w-[20%] flex items-center justify-end gap-4">
    <p class="text-right text4r text-grey-500">{{ this.occurrency }}</p>
  </div>

  <div class="w-[20%] flex items-center justify-end gap-4">
    <p class="text-right text4r text-grey-500">{{ this.dueDate }}</p>
  </div>

  <div class="w-[30%] flex items-center justify-end gap-4">
    <p class="text4b" [ngStyle]="{'color': this.type === 'debit' ? '#201f24' : '#277c78'}">{{ this.type === 'debit' ? '-$' + this.amount : '+$' + this.amount }}</p>
  </div>
</div>
