<div class="w-full flex items-center justify-between">

  <div class="w-[30%] flex items-center gap-4">
    <div
      aria-labelledby="logo"
      class="w-10 h-10 rounded-full flex items-center justify-center"
      [ngStyle]="{ 'background-color': iconBackground }"
    >
      <app-icons [iconName]="iconName"></app-icons>
    </div>
    <p class="text3b text-grey-900">{{ this.name }}</p>
  </div>

  <div class="w-[20%] flex items-center justify-end gap-4">
    <p class="text-right text3r text-grey-500">{{ this.occurrency }}</p>
  </div>

  <div class="w-[20%] flex items-center justify-end gap-4">
    <p class="text-right text3r text-grey-500">{{ this.dueDate }}</p>
  </div>

  <div class="w-[30%] flex items-center justify-end gap-4">
    <p class="text-right text3b text-grey-900">{{ this.amount }}</p>
    
    
  </div>
</div>
