 @if (inWhichSection === 'budgets') {
<div
  aria-label="spending summary item"
  class="w-full flex items-center justify-between"
>
  <div class="flex items-center gap-4">
    <div
      class="h-full min-h-[21px] w-1 rounded-full"
      [ngStyle]="{ 'background-color': summaryItem.theme }"
    ></div>
    <p class="text4r text-grey-500">{{ summaryItem.name }}</p>
  </div>
  <div>
    <p
      class="text3b text-grey-900 text-right"
      [ngStyle]="{
        color:
          this.summaryItem.amount > this.summaryItem.maximum
            ? '#c94736'
            : '#201f24'
      }"
    >
      ${{ spendedAmount }}
    </p>
    <p class="text4r text-grey-500 text-right">${{ maximumAmount }}</p>
  </div>
</div>
} @else if ( inWhichSection === 'overview' ) {
<div
  aria-label="spending summary item"
  class="w-full flex flex-col justify-between"
>
  <div class="flex gap-4">
    <div
      class="theme-element min-h-[21px] w-1 rounded-full"
      [ngStyle]="{ 'background-color': summaryItem.theme }"
    ></div>
    <div class="flex flex-col gap-1 text-left">
      <p class="text5r text-grey-500">{{ summaryItem.name }}</p>
      <p
        class="text3b text-grey-900"
        [ngStyle]="{
          color:
            this.summaryItem.amount > this.summaryItem.maximum
              ? '#c94736'
              : '#201f24'
        }"
      >
        ${{ spendedAmount }}
      </p>
    </div>
  </div>
</div>
} 
