@if (inWhichSection === 'budgets') {
<div
  aria-label="spending summary item"
  class="w-full flex items-center justify-between"
>
  <div class="flex items-center gap-4">
    <div
      class="h-full min-h-[21px] w-1 rounded-full"
      [ngStyle]="{ 'background-color': this.summaryItem.theme }"
    ></div>
    <p class="text4r text-grey-500">{{ this.budgetCalculations.budgetName }}</p>
  </div>
  <div>
    <p
      class="text3b text-grey-900 text-right"
      [ngStyle]="{
        color: this.budgetCalculations.isTooMuchSpent ? '#c94736' : '#201f24'
      }"
    >
      {{ this.budgetCalculations.calculatedSpent | formatAmount }}
    </p>
    <p class="text4r text-grey-500 text-right">
      {{ this.budgetCalculations.maximum | formatAmount }}
    </p>
  </div>
</div>
} @else if ( inWhichSection === 'overview' ) {
<div
  aria-label="spending summary item"
  class="w-full flex flex-col justify-between"
>
  <div class="flex gap-4">
    <div
      class="theme-element min-h-[21px] w-1 rounded-full"
      [ngStyle]="{ 'background-color': this.summaryItem.theme }"
    ></div>
    <div class="flex flex-col gap-1 text-left">
      <p class="text5r text-grey-500">
        {{ this.budgetCalculations.budgetName }}
      </p>
      <p
        class="text3b text-grey-900"
        [ngStyle]="{
          color: this.budgetCalculations.isTooMuchSpent ? '#c94736' : '#201f24'
        }"
      >
        {{ this.budgetCalculations.calculatedSpent | formatAmount }}
      </p>
    </div>
  </div>
</div>
}
