<section
  class="relative w-full min-h-[100%] flex justify-center"
  aria-label="Recurrings Section"
>
  <div
    class="recurring-bills-container min-h-[761px] w-[100%] max-w-[1440px] flex flex-col justify-between"
    aria-label="Recurring Bills Wrapper"
  >
    <h2 class="text1b">Recurrings</h2>

    <div class="flex items-center gap-8 h-[272px]">
      <app-bills-summary class="flex-1 h-full"></app-bills-summary>
      <app-average-recurring class="flex-1 h-full"></app-average-recurring>
    </div>

    <div class="recurring-bills-list bg-white rounded-xl">
      <app-recurring-bills-list
        [recurringBillsArray]="recurringBillsArray"
      ></app-recurring-bills-list>
    </div>
  </div>
</section>
