@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'public-sans';
  src: url('/font/PublicSans-VariableFont_wght.ttf');
}

* {
  font-family: 'public-sans';
}

@layer utilities {
  .text1b {
    font-size: 32px;
    line-height: 120%;
    font-weight: bold;
  }
}