@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "public-sans";
  src: url("/font/PublicSans-VariableFont_wght.ttf");
}

body {
  font-family: "public-sans";
  color: var(--color-grey-900);
}

@layer utilities {
  .text1b {
    font-size: 32px;
    line-height: 120%;
    font-weight: bold;
  }

  .text2b {
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
  }

  .text3b {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
  }

  .text4r {
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
  }

  .text4b {
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
  }

  .text5r {
    font-size: 12px;
    line-height: 150%;
    font-weight: normal;
  }

  .text5b {
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
  }
}

:root {
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;
  --color-secondary-green: #277c78;
  --color-secondary-yellow: #f2cdac;
  --color-secondary-cyan: #82c9d7;
  --color-secondary-navy: #626070;
  --color-secondary-red: #c94736;
  --color-secondary-purple: #826cb0;
  --color-other-purple: #af81ba;
  --color-other-turquoise: #597c7c;
  --color-other-brown: #93674f;
  --color-other-magenta: #934f6f;
  --color-other-blue: #3f82b2;
  --color-other-grey: #97a0ac;
  --color-other-green: #7f9161;
  --color-other-gold: #cab361;
  --color-other-orange: #be6c49;
}
