@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'public-sans';
  src: url('/font/PublicSans-VariableFont_wght.ttf');
}

* {
  font-family: 'public-sans';
}

@layer utilities {
  .text1b {
    font-size: 32px;
    line-height: 120%;
    font-weight: bold;
  }

  .text2b {
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
  }

  .text3b {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
  }

  .text4r {
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
  }

  .text4b {
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
  }

  .text5r {
    font-size: 12px;
    line-height: 150%;
    font-weight: normal;
  }

  .text5b {
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
  }
}