<div class="w-full flex items-center justify-between">
  <div class="flex items-center gap-4">
    <div
      aria-label="logo"
      class="w-8 h-8 rounded-full flex items-center justify-center"
      [ngStyle]="{ 'background-color': this.spending.theme}"
    >
      <app-icons [iconName]="this.spending.category!"></app-icons>
    </div>
    <p class="text5b text-grey-900">{{ this.spending.name }}</p>
  </div>
  <div>
    <p class="text-right text5b text-grey-900">{{ this.spending.amount | formatAmount }}</p>
    <p class="text-right text5r text-grey-500">{{ this.spending.execute_on! | formatDate }}</p>
  </div>
</div>
