<div class="w-full h-[240px] relative p-0 flex justify-center">
  <canvas class="max-w-[240px]" baseChart [data]="doughnutChartData" [type]="'doughnut'" [options]="doughnutChartOptions" >
  </canvas>
  <div class="absolute w-[184px] h-[184px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 rounded-full bg-[rgba(255,255,255,0.2)] flex flex-col gap-2 justify-center">
    <p class="text1b text-grey-900 text-center" 
    [ngStyle]="{'color': this.budgetsSpendAmount < this.budgetsLimit ? '#201f24' : '#c94736'}"
    >${{ budgetsSpendAmount }}</p>
    <p class="text5r text-grey-500 text-center">of ${{ budgetsLimit }} limit</p>
  </div>
</div>
